.title{  display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 12px;

 }

 .education{display: flex;
    justify-content: center;
    font-weight: bold;
    color: rgb(37, 37, 37);
    font-family: 'Courier New', Courier, monospace}