.Photos{display: flex;
    flex-direction: column;
    align-items: center;
}

button{
background-color: #77a8a8;
border-style: solid;
border-width: 1px;
border-color: #b9b0b0;
border-radius: 10px;
color: #535050;
font-size:large;
font-weight: bold;
font-family: 'Courier New', Courier, monospace
}


img{width: 300px;
border-radius: 20px;
margin-top: 20px;
margin-bottom: 20px;}