.App {    display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 20px;
 
  margin: 80px;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html{ background-color: #d9ecd0  }




  .firstButton{  
    background:  #77a8a8;;
    background: linear-gradient(0deg,#6b8686 0%, #77a8a8 100%);
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    height: 50px;
    width: 80px;
    color: rgb(37, 37, 37);
  }
  .firstButton:before{
      height: 0%;
      width: 2px;
  }
  
  .firstButton:hover{
      box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
      -4px -4px 6px 0 rgba(116, 125, 136, .5), 
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  
  }